{
  "K6_PROMETHEUS_RW_SERVER_URL": "https://prometheus-YOUR-REGION.grafana.net/api/prom/push",
  "K6_PROMETHEUS_RW_USERNAME": "YOUR_PROMETHEUS_USER_ID",
  "K6_PROMETHEUS_RW_PASSWORD": "YOUR_GRAFANA_CLOUD_API_TOKEN",
  "K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM": "false",
  "K6_PROMETHEUS_RW_PUSH_INTERVAL": "5s"
}
